* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container,
#container {
    display: grid;
    background-color: white;
    height: 500px;
    width: 500px;
    
    
}


button {
    background-color: black;
    
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.cell {
    
    border: .5px solid black;
}

#blue {
    color: coral;
    
}